.clients-list {
	display: flex;
	justify-content: space-between;
}

.clients-item .link {
	display: flex;
	justify-content: center;
	align-items: center;
	fill: #afb1b8;
	width: 170px;
	height: 90px;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		fill: $accent-color;
		border-color: $accent-color;
	}
}
